TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=lTtQy5-Mp2Vl-lhSrc92tBLhWitA7JK8
NODE_ENV=development

SESSION_DRIVER=cookie

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=

REDIS_PASSWORD=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_CALLBACK_URL=
